SUPABASE_URL=https://gorlbfqvyxtdsxgoqinf.supabase.co
SUPABASE_SECRET_KEY=replace-in-github-secrets
DART_API_KEY=replace-in-github-secrets
CLOUDFLARE_DEPLOY_HOOK=https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/replace
